.patients-list {
    display: flex;
    justify-content: center;
}
.patient-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
    background-color: rgb(233, 230, 230);
    width: 80%;
}

.current-patients {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-decoration: underline;
}

.patient-btn {
    width: 390px;
    text-align: center;
    font-size: large;
    margin-top: 5px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(187, 204, 209);
}

.add-patient {
    width: 200px;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    margin-left: 15px;
    font-weight: bold;
}

.patient-btn:hover, .delete-patient:hover {
    background-color: rgb(203, 222, 228);
}

.add-patient:hover {
    background-color: rgb(192, 201, 192);
}

.delete-patient {
    text-align: center;
    font-size: large;
    margin-top: 5px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(187, 204, 209);
    margin-right: 30px;
}

.delete-patient-err {
    color: red;
    padding-left: 30px;
}