.input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .input-label {
      display: flex;
      justify-content: left;
      padding-left: 380px;
      font-weight: bold;
  }

  .error-msg {
     color: red;
     margin-top: 0;
     margin-bottom: 5px;
  }

  .error {
      border: 1px solid red;
  }

 