.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 1em;
  }

  .submit-btn {
    cursor: pointer;
    width: 50%;
    border-radius: 4px;
    height: 40px;
    background-color: rgb(203, 231, 233);
    font-weight: bold;
    font-size: 18px;
}

.submit-btn:hover {
    background-color: rgb(163, 212, 214);
}