.patient-details-page {
    justify-content: center;
}

.details-lists {
    display: flex;
    justify-content: center;
    font-size: large;
}

.patient-details {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 100px;
}

.patient-details-header {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0;
}

.patient-encounters {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
}

.encounter {
    margin-bottom: 20px;
}

.edit-patient, .add-encounter {
    margin-top: 0px;
    margin-left: 15px;
    height: 25px;
    width: 60px;
    background-color: rgb(203, 232, 250);
    border-radius: 5px;
    cursor: pointer;
}

.view-encounter {
    width: 150px;
    height: 25px;
    background-color: rgb(203, 232, 250);
    border-radius: 4px;
    cursor: pointer;
}

.edit-encounter:hover, .edit-patient:hover, .add-encounter:hover {
    background-color: rgb(182, 221, 245);
}

.address2 {
    padding-left: 72px;
}