.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    background-color: rgb(166, 181, 185);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link {
    margin-top: 40px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    border: solid black;
    margin-bottom: 30px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.active {
    background-color: rgb(182, 171, 156);
}

.link:hover {
    background-color: lightgray;
}

.navbar-name {
    font-size: 1.5em;
    text-shadow: 2px 2px lightgray;
    padding-right: 100px;
}
