.edit-encounter {
    margin-left: 20px;
    height: 25px;
    width: 60px;
    background-color: rgb(203, 232, 250);
    border-radius: 5px;
    cursor: pointer;
}

.edit-encounter:hover {
    background-color: rgb(182, 221, 245);
}

.patient-details-page {
    justify-content: center;
}

.encounters-list {
    display: flex;
    justify-content: center;
    font-size: large;
    margin-left: 150px;
}